.zoom-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999999;
  -webkit-transform: translateZ(5px);
  -moz-transform: translateZ(5px);
  -ms-transform: translateZ(5px);
  -o-transform: translateZ(5px);
  transform: translateZ(5px);
  display: none;
  text-align: center;
  background-color: #000;
}

#zoomy {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.leaflet-container {
  background-color: #000;
}

.close {
  background-color: #f30;
  color: #fff;
  position: fixed;
  top: 0;
  width: 40px;
  height: 40px;
  z-index: 99999;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
