.zoom-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999999;
  -webkit-transform: translateZ(5px);
  -moz-transform: translateZ(5px);
  -ms-transform: translateZ(5px);
  -o-transform: translateZ(5px);
  transform: translateZ(5px);
  display: none;
  text-align: center;
  background-color: #000;
}

#zoomy {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.leaflet-container {
  background-color: #000;
}

.close {
  background-color: #f30;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  z-index: 99999;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

.lightbox.flex {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.lightbox {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  padding: 24px;
  padding: 2.4rem;
}

.lightbox img.main {
  position: relative;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.owl-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.owl-dot {
  background-color: #ddd;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 10px;
  display: inline-block;
}

.owl-dot.active {
  background-color: #666;
}
